@font-face {
  src: url("./inter.woff2") format("woff2-variations");

  font-family: "Inter";
  font-weight: 100 900;
}

@font-face {
  src: url("./inter.woff2") format("woff2-variations");

  font-family: "Inter";
  font-weight: 100 900;
  font-style: oblique 10deg;
}
